spring:
  application:
    name: learnsphere

  datasource:
    url: jdbc:mysql://localhost:3306/learnsphere?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: pranay24
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: user@gmail.com
    password: passkey
    from: npranay9899@gmail.com
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.gmail.com
          connection timeout: 10000
          timeout: 10000
          write timeout: 10000

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

jwt:
  secret: CHANGE_THIS_SECRET_TO_A_RANDOM_32+_BYTE_STRING
  expiration-ms: 3600000

logging:
  level:
    root: INFO
